<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="edu.kh.project.admin.model.mapper.AdminMapper">
	
		<!-- 관리자 로그인 -->
	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME,
		MEMBER_PW, AUTHORITY
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND AUTHORITY = 2
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	
	<!-- 관리자 이메일 중복 검사  -->
	<select id="checkEmail">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_EMAIL =#{memberEmail}
		AND  AUTHORITY = 2
	</select>
	
	<!-- 관리자 계정 발급 -->
	<insert id="createAdminAccount">
		INSERT INTO "MEMBER"
			 VALUES(SEQ_MEMBER_NO.NEXTVAL,
			 #{memberEmail},
			 #{memberPw},
			 #{memberNickname},
			 #{memberTel},
			 NULL,
			 NULL,
			 DEFAULT,
			 DEFAULT,
			 2
)
	</insert>
	
	<!-- 관리자 계정 목록 조회 -->
	<select id="adminAccountList">
		SELECT MEMBER_NO,MEMBER_EMAIL,
		MEMBER_NICKNAME,MEMBER_TEL
		FROM "MEMBER"
		WHERE AUTHORITY = 2
		AND MEMBER_DEL_FL ='N'
	</select>
	
	<!-- 최대 조화수 게시글 조회 
		만약 최대 조회수가 똑같은 게시글물이 여러개 존재한 경우
		가장 최근에 작성된 게시글 기준으로(board_no) 정렬해서 하나만 조회
	-->
	<select id="maxReadCount">
		SELECT BOARD_NAME,BOARD_NO,BOARD_TITLE,MEMBER_NICKNAME,READ_COUNT
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		JOIN "BOARD_TYPE" USING(BOARD_CODE)
		WHERE READ_COUNT = (SELECT MAX(READ_COUNT) FROM "BOARD")
		ORDER BY BOARD_NO DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 게시글 좋아요 조회 -->
	<select id="maxLikeCount">
	SELECT * FROM (
        SELECT 
            B.BOARD_NO, 
            B.BOARD_TITLE, 
            B.READ_COUNT,
            BT.BOARD_NAME, M.MEMBER_NICKNAME,
            (SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) AS LIKE_COUNT,
            (SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO) AS COMMENT_COUNT
        FROM "BOARD" B
        JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
        JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE) WHERE B.BOARD_DEL_FL = 'N'
        ORDER BY LIKE_COUNT DESC, B.BOARD_NO DESC
    )
    WHERE ROWNUM = 1
		
	</select>
	
	<select id="selectWithdrawnMemberList">
		SELECT MEMBER_NO,MEMBER_EMAIL,MEMBER_NICKNAME
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'Y'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<update id="restoreMember">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL ='N'
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_DEL_FL = 'Y'
	</update>
	
	<select id="maxCommentCount">
	SELECT * FROM (
        SELECT 
            B.BOARD_NO, 
            B.BOARD_TITLE, 
            B.READ_COUNT,
            BT.BOARD_NAME,
            M.MEMBER_NICKNAME,
            (SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) AS LIKE_COUNT,
            (SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO) AS COMMENT_COUNT
        FROM "BOARD" B
        JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
        JOIN "BOARD_TYPE" BT ON (B.BOARD_CODE = BT.BOARD_CODE)
        WHERE B.BOARD_DEL_FL = 'N'
        ORDER BY COMMENT_COUNT DESC, B.BOARD_NO DESC
    )
    WHERE ROWNUM = 1
	</select>
	
	<select id="getBoardList">
		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT ,MEMBER_NO
		FROM BOARD 
		WHERE BOARD_DEL_FL = 'Y'
	</select>
	
	<update id="restoreBoard">
	UPDATE "BOARD" SET
	BOARD_DEL_FL = 'N'
	WHERE BOARD_NO = #{boardNo}
	AND BOARD_DEL_FL ='Y'	
	</update>
		
	</mapper>
